USE [master]
GO
/****** Object:  Database [CountryAndCityDB]    Script Date: 6/15/2015 1:03:34 AM ******/
CREATE DATABASE [CountryAndCityDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CountryAndCityDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQL2012\MSSQL\DATA\CountryAndCityDB.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'CountryAndCityDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQL2012\MSSQL\DATA\CountryAndCityDB_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CountryAndCityDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CountryAndCityDB]
GO
/****** Object:  Table [dbo].[City_tbl]    Script Date: 6/15/2015 1:03:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[City_tbl](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CityName] [varchar](50) NOT NULL,
	[CityAbout] [varchar](max) NOT NULL,
	[NoOfDwellers] [int] NOT NULL,
	[Location] [varchar](50) NOT NULL,
	[Weather] [varchar](50) NULL,
	[CountryId] [int] NULL,
 CONSTRAINT [PK_City_tbl] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Country_tbl]    Script Date: 6/15/2015 1:03:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Country_tbl](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CountryName] [varchar](50) NOT NULL,
	[CountryAbout] [varchar](max) NOT NULL,
 CONSTRAINT [PK_Country_tbl] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[City_tbl]  WITH CHECK ADD  CONSTRAINT [FK_City_tbl_Country_tbl] FOREIGN KEY([CountryId])
REFERENCES [dbo].[Country_tbl] ([Id])
GO
ALTER TABLE [dbo].[City_tbl] CHECK CONSTRAINT [FK_City_tbl_Country_tbl]
GO
USE [master]
GO
